body {
	background-color: #0e0d0d;
}

.tabs-title {
	background-color: #eff9fc;
	color: #937341;
}

.tabs-title.active {
	background-color:#937341 ;
	color: #eff9fc;
}

.tabs-content {
	color: #eff9fc;
}